<section class="py-6 mt-6">
    <h2 class="text-maroon-600 font-accent text-4xl text-center" id="about">About</h2>
    <div class="grid justify-evenly items-center grid-cols-1 gap-12 mt-32 px-24 mt-6">
     <p>
         <img src="/assets/branch_with_olives.png" alt="decorative image: branch with olives" class="cropped mx-5" style="float:left;">

    I am passionate about crafting accessible, mobile-responsive full stack web applications. The focus of my freelance web design work has been building homepages for small, local businesses and small-to-medium sized nonprofits. I love hearing about your organization’s needs and crafting a website to meet your goals. The power of a well-crafted website to drive engagement and donations to worthy causes has made my work with nonprofits particularly rewarding. I am proficient in CSS, HTML, JavaScript (ES6+), and React. I have also recently built websites in Wordpress and Shopify. I would love to set up a consultation to discuss an approach and platform that would work best for you.
<br><br>
    I started my career as a Latin and ancient Greek teacher. When instruction went online in March 2020, then hybrid shortly thereafter, I had to change my approach. Suddenly, the design and accessibility of my digital materials became the single best predictor of my students’ ability to engage with, and access, instruction. Through a combination of coursework and trial and error, I learned how to make digital experiences that made students want to engage, and with which all students could find success.
<br><br>
    Driven by a newfound passion for designing content for the web, I learned HTML, CSS, and JavaScript to build the tools that I felt were lacking during online instruction. From there, it has all been history. I went from designing web apps for Latin and Greek in the classroom to freelance web development. Get in touch to see what a perspective at the intersection of ancient and modern can do for you!
    </p>
    </div>
</section>
