<section class="py-12 mb-12">
    <h2 class="text-maroon-600 font-accent text-4xl text-center" id="contact">Get in Touch</h2>
    <form class="grid justify-evenly items-center grid-cols-1 gap-12 mt-32 px-24 mt-6 sm:px-4" data-netlify="true">
      <div class="w-full">
          <div>
            <label class="text-lg text-maroon-600 font-bold" for="contact-name-input">Full Name</label>
            <input class="w-full bg-dark-tan text-gray-900 mt-2 mb-5 p-3 rounded-lg focus-maroon"
              type="text" id="contact-name-input">
          </div>
          <div class="mt-8">
            <label class="text-lg text-maroon-600 font-bold" for="contact-email-input">Email</label>
            <input class="w-full bg-dark-tan text-gray-900 mt-2 p-3 mb-5 rounded-lg focus-maroon"
              type="text" id="contact-email-input">
          </div>
          <div class="mt-8">
            <label class="text-lg text-maroon-600 font-bold mt-5" for="contact-message-input">Message</label>
            <textarea
              class="w-full h-32 bg-dark-tan text-gray-900 mt-2 p-3 rounded-lg focus-maroon" id="contact-message-input"></textarea>
          </div>
          <div class="mt-8 text-center">
            <button
              class="text-lg font-bold bg-maroon hover-bg-dark-maroon text-tan-600 p-3 rounded-lg w-half mt-6">
              Send Message
            </button>
          </div>
        </div>
    </form>
</section>
