<section class="mt-4 mb-12">
    <h2 class="text-maroon-600 font-accent text-4xl text-center" id="recent-work">Recent Work</h2>
    <h3 class="mt-6 text-xl mb-6 text-center">Full-Stack Development</h3>
    <div class="grid justify-evenly items-center grid-cols-1 md:grid-cols-2 gap-12 mt-12 px-24 sm:px-4">
        {% import 'sections/work-macro.njk' as macro %}
        
        {{ macro.work('assets/foliary.webp', 'screenshot of Foliary, a full-stack plant care application', 'Foliary', 'Full-stack houseplant care app. Users can search for plants by care needs; be recommended similar plants to ones they already own; create a user profile and track plant care.', 'MongoDB, Express, Node.js, JavaScript, REST API, Passport.js, HTML, CSS', 'https://proud-newt-handkerchief.cyclic.app', 'https://github.com/sashavining/foliary') }}
        {{ macro.work('assets/examen-apium-med.webp', 'screenshot of Examen Apium, a Latin translation of the NYTimes Spelling Bee', 'Examen Apium', 'A Latin language word game, modeled after the NYTimes Spelling Bee. 500 users and climbing. Built on a Latin word database with 320,000+ entries, scraped and maintained by me. ', 'MongoDB, Express, Node.js, JavaScript, HTML, CSS', 'https://www.examenapium.com', 'https://github.com/sashavining/examen-apium') }}
        {{ macro.work('assets/certator.webp', 'screenshot of Certator, a full-stack quizzer application for Latin students', 'Certator', 'Full-stack quizzer application for Classics students. Users can choose from two different modes and track their answer speed.', 'React, MongoDB, Node.js, GraphQL, JavaScript, HTML, CSS', 'https://certator.netlify.app', 'https://github.com/sashavining/certamen-react-app') }}
        {{ macro.work('assets/roverdex.png', '"Coming soon" sign', 'Roverdex', 'A full-stack application for managing a pet care business. Users can log in, manage their clients, schedule, and send email updates to their clients. Built on a team of three developers.', 'MongoDB, Express, Node.js, JavaScript, REST API, Passport.js, HTML, CSS', 'https://github.com/sashavining/roverdex', 'https://github.com/sashavining/roverdex') }}

      </div>
    <h3 class="mt-6 text-xl mb-6 text-center">WordPress / Web Design</h3>
    
    <div class="grid justify-evenly items-stretch grid-cols-1 md:grid-cols-2 gap-12 mt-12 px-24 sm:px-4">
        {{ macro.work('assets/cane_web.png', 'screenshot of Classical Association of New England homepage', 'Classical Association of New England', 'Site redesign for the Classical Association of New England. In addition to the redesign, we added a great deal of new functionality, including a membership and payment management system for over 350 annual members.', 'WordPress, JavaScript, PHP, CSS', 'https://caneweb.org', '') }}
        {{ macro.work('assets/keane_sense_of_rhythm.webp', 'screenshot of Keane Sense of Rhythm website', 'Keane Sense of Rhythm', 'Wordpress site redesign for a Minnesota-based tap studio and nonprofit.', 'Wordpress, CSS', 'https://tapcompany.org', '') }}
        {{ macro.work('assets/goodness_people.webp', 'screenshot of Goodness People website', 'Goodness People', 'WordPress site build for a New York-based nonprofit, Goodness People.', 'WordPress, CSS', 'https://goodnesspeople.org', '') }}
        {{ macro.work('assets/consulting_color.webp', 'screenshot of Consulting Color layout', 'Consulting Color', 'WordPress website built for a Virginia-based nonprofit, Consulting Color.', 'WordPress, CSS', 'https://consultingcolor.org/', '') }}
    </div>
</section>
