{% macro work(imgPath, imgAlt, imgLink, heading, para, tools, liveLink, githubLink) %}
<article>
<div class="p-6 bg-dark-tan border border-gray-100 rounded-lg text-center">
   <div class="w-12 h-1.5"></div>
   <a href="{{ imgLink }}">
   <img src="{{ imgPath }}" alt=" {{ imgAlt }}" class="cropped img-low-opacity-hover">
   <h3 class="font-semibold text-xl mt-5">{{ heading }}</h3>
   <p class="mt-4">
      {{ para }}
    
   </p>
     <p class='mt-5'><span class="font-bold">tools used:</span> {{ tools }}</p> 
   </a>
    {% if githubLink !== '' %}
   <div class="grid grid-cols-2 mt-6">
   {% endif %}
    {% if githubLink == '' %}
       <div class="grid grid-cols-1 mt-6">
    {% endif %}
   <a href="{{ liveLink }} ">
    <img src="assets/link-solid.svg" class="img-low-opacity-hover" alt="live site link" width="50px" height="50px" style="margin:0 auto">
    </a>
    {% if githubLink !== '' %}
    <a href="{{ githubLink }} ">
    <img src="assets/github-brands.svg" class="img-low-opacity-hover" alt="github link" width="50px" height="50px" style="margin:0 auto">
    </a>
    {% endif %}
    </div>
</div>

</article>
{% endmacro %}